html {
      box-sizing: border-box;
      background: #ffc600;
      font-family: 'helvetica neue';
      font-size: 20px;
      font-weight: 200;
      
    }
    
    body {
      margin: 0;
    }
    
    *, *:before, *:after {
      box-sizing: inherit;
    }

    h1 {
      margin-top: 0;
     text-align: center;
     animation: text 5s;
     animation-delay: 3s;
     animation-fill-mode: forwards;
     animation-direction: alternate;
     animation-iteration-count: infinite;
     position: relative;
     border: 1px inset black;
     width:300px;
     text-decoration: underline;
     background: #ffc600;
    }

    @keyframes text{
      0%{transform: translateX(20vw)};
      25%{border: 2px inset red; }
    }
    h1:hover{
      animation-play-state: paused;
      }

    img{
      width: 250px;
      height: 300px;
    }

    .site-wrap {
      max-width: 90vw;
      margin: 100px auto;
      background: white;
      padding: 40px;
      text-align: justify;
    }

    @media all and (max-width: 480px){
      html{
        font-size: 18px;
      }
      .site-wrap{
        max-width: 700px;
      }

      h1{
        font-size: 19px;
        width: 150px;
        border: none;
        background: none;
        text-decoration: none;
        text-transform: uppercase;
        font-family: sans-serif;
        text-align: left;
      }
    }

    .align-left {
      float: left;
      margin-right: 20px;
    }

    .align-right {
      float: right;
      margin-left: 20px;
    }

    .slide-in {
      opacity: 0;
      transition: all .5s;
    }

    .align-left.slide-in {
      transform: translateX(-30%) scale(0.95);
    }
    
    .align-right.slide-in {
      transform: translateX(30%) scale(0.95);
    }

    .slide-in.active {
      opacity: 1;
      transform: translateX(0%) scale(1);
    }

